{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- awal nav -->
{% include 'snippets/nav.html' %}


<!-- awal home -->
{% include 'snippets/home.html' %}

    

<!-- awal about -->
{% include 'snippets/about.html' %}

<!-- awal myskill -->
{% include 'snippets/skill.html' %}

<!-- awal mysevices -->
{% include 'snippets/services.html' %}

<!-- awal myportfolio -->
{% include 'snippets/portfolio.html' %}

<!-- awal myblog -->
{% include 'snippets/blog.html' %}

<!-- awal mycontact -->
{% include 'snippets/contact.html' %}



{% endblock content %}
    