{% load static %}
<section class="mycontact mb-4" id="mycontact">
    <div class=" mycontact-container text-light">
        <main class="mycontact-main">
            <header class="mycontact-header">
                <p>Feel Free to Contact Me Anytime</p>
                <h1 class="text-warning">Get In Touch</h1>
            </header>
            {% if request.POST.pengirim %}
            <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                <strong>Hello {{pengirim}}!</strong> We receive your message and will respond shortly.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}

            <div class="mymap-box ">
                <div class=" mymap-item embed-responsive embed-responsive-16by9 ">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d997.2930125173763!2d104.0535568880357!3d1.031273890840576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e0!4m3!3m2!1d1.0312778999999999!2d104.0541664!4m3!3m2!1d1.0312658!2d104.05416299999999!5e0!3m2!1sid!2sid!4v1619076699075!5m2!1sid!2sid" allowfullscreen="True" loading="lazy" title="mymap"></iframe>
                </div>
            </div>
    
            <div class="mycontact-list cust-list d-grid">
                <!-- awal item-list -->
                <a href="#">
                    <div class="item-mycontact contact-list d-grid">
                        <div class="mycontact-image">
                            <img src="{% static 'vendor/css/media/images/phone-icon.svg' %}" alt="Phone">
                        </div>
                        <div class="mycontact-describ">
                            <h3>Call On Us</h3>
                            <h5>{{abouts.phone}}</h5>
                        </div>
                    </div>
                </a>
    
                <a href="https://goo.gl/maps/m43aCKJRChbw8Usr9" target="_blank">
                    <div class="item-mycontact contact-list d-grid">
                        <div class="mycontact-image">
                            <img src="{% static 'vendor/css/media/images/map-icon.svg' %}" alt="contact us">
                        </div>
                        <div class="mycontact-describ">
                            <h3>Visit Office</h3>
                            <h5>{{abouts.city}}</h5>
                        </div>
                    </div>
                </a>
                
                <label for="form-name" class="pointer">
                    <div class="item-mycontact contact-list d-grid" >
                        <div class="mycontact-image">
                            <img src="{% static 'vendor/css/media/images/mail-icon.svg' %}" alt="Email">
                        </div>
                        <div class="mycontact-describ">
                            <h3>Email at Us</h3>
                            <h5>{{abouts.email }}</h5>
                        </div>
                    </div>

                </label>
    
                <!-- akhir item-list -->
            </div>

            
            
                

            <div class=" form-box" id="form-box">
                <form class="form-mycontact-list d-grid" id="form-mycontact" method="POST">
                    {% csrf_token %}
                        <input type="text" class="form-control form-name" name="{{contact.pengirim.name}}" placeholder="Your first name" id="form-name" maxlength="{{contact.pengirim.max}}" required>
                        <input type="email" class="form-control form-email" name="{{contact.email.name}}" placeholder="Your email" required>
                        <input type="text" class="form-control form-subject" name="{{contact.subject.name}}" maxlength="{{contact.subject.max}}"placeholder="Your subject" required>
                        <textarea class="form-control form-message" placeholder="Your message" name="{{contact.deskripsi.name}}" required></textarea>
                        <div class="btn-contact">
                            <button type="submit" class="btn btn-primary">Send Message</button>
                        </div>
                        </div>
                </form>
            </div>
            
        </main>
    </div>    
    </section>