{% load static %}
<nav class="navside">
    <div class="col-sidebar fixed-bottom text-light d-grid">
        <div class="follow-navside ">
            <p class="">Follow Me</p>
        </div>
        <div class="line-img">
            <img src="{% static 'vendor/css/media/images/Vector 1.svg' %}" alt="Line">
        </div>
        <div class="sosmed-sidebar">
            <a href="https://www.facebook.com/aman.bay.79827" target="_blank">
                <img src="{% static 'vendor/css/media/images/facebook-3 1.svg' %}" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/adityafreesetyo1/" target="_blank">
                <img src="{% static 'vendor/css/media/images/instagram.svg' %}" alt="Instagram">
            </a>
            <a href="https://www.linkedin.com/in/aditya-prasetyo-budiarso-6702481b5/" target="_blank">
                <img src="{% static 'vendor/css/media/images/linkedin.svg' %}" alt="Linkedin">
            </a>
        </div>
    </div>
    </nav>

    <a href="#form-name" class="bouncing pointer" title="Message">
            <div>
                <img src="{% static 'vendor/css/media/images/mail-icon.svg' %}" alt="Email" class="fixed-bottom contact-me">
            </div>
            
    </a>