<section class="myblog" id="myblog">
    <div class=" myblog-container text-light">
        <main class="myblog-main">
            <header class="myblog-header">
                <p>Check Out My Blog Post</p>
                <h1 class="text-warning">Latest Blogs</h1>
            </header>
            <nav class="nav-myblog cust-nav d-grid pt-3">
                    <h6><a href="#home">All</a></h6>
                    <h6><a href="#">Web Design</a></h6>
                    <h6><a href="#">Mobile Design</a></h6>
                    <h6><a href="#">Graphic</a></h6>
            </nav>
            <div class="myblog-list cust-list d-grid pt-5">
                <!-- awal item-list -->
                <div class="card item-blog item-list" >
                    <img src="media/images/blog-img.svg" class="card-img-top" alt="blog image">
                    <div class="card-body">
                        <h5 class="card-title">Adobe Released Price for Student</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">More Detail</a>
                    </div>
                </div>
                <div class="card item-blog item-list" >
                    <img src="media/images/blog-img.svg" class="card-img-top" alt="blog image">
                    <div class="card-body">
                        <h5 class="card-title">Adobe Released Price for Student</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">More Detail</a>
                    </div>
                </div>
                <div class="card item-blog item-list" >
                    <img src="media/images/blog-img.svg" class="card-img-top" alt="blog image">
                    <div class="card-body">
                        <h5 class="card-title">Adobe Released Price for Student</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">More Detail</a>
                    </div>
                </div>
                <div class="card item-blog item-list" >
                    <img src="media/images/blog-img.svg" class="card-img-top" alt="blog image">
                    <div class="card-body">
                        <h5 class="card-title">Adobe Released Price for Student</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">More Detail</a>
                    </div>
                </div>
                <!-- akhir item-list -->
            </div>
            <div class="btn-myportfolio mt-3">
                <a href="#" class="btn btn-warning show-btn">Show More</a>
            </div>
            
        </main>
    </div>    
    </section>