{% load static %}
<section class="myblog" id="myblog">
    <div class=" myblog-container text-light">
        <main class="myblog-main">
            <header class="myblog-header">
                <p>Check Out My Blog Post</p>
                <h1 class="text-warning">Latest Blogs</h1>

            </header>
        
            <div class="myblog-list cust-list d-grid">
                <!-- awal item-list -->
                
                {% for blog in blogs %}
                {% if blog.is_published %}
                    <div class="myblog-item my-item card">
                    
                        {% if blog.gambar.url is not none %}
                            <!-- <img src="{{blog.gambar.url}}" class="card-img-top" alt="Sample of Image"> -->
                            <div class="card-img-top" style="background-image:url({{blog.gambar.url}})">
                                <h1 class="d-none">About Me</h1>
                            </div>
                        {% endif %}
                        <div class=" myblog-box my-box d-grid">
                            <h5 class="my-judul">{{blog.judul}}</h5>
                            <div class=" d-grid myblog-describ my-describ">
                                <img src="{% static 'vendor/css/media/images/icon-kalender.svg' %}" alt="">
                                <h6 class="card-text m-0">{{blog.published|date}}</h6> 
                            </div>
                            <div class="myblog-text">
                                <p>{{blog.deskripsi|truncatewords:"18" }}</p>
                            </div>
                            <a href="#" class="btn btn-primary">More Detail</a>
                        </div>
                    </div>

                {% endif %}
                
            {% endfor %}
                    
                <!-- akhir item-list -->
            </div>
            
            {% if jumlah.blogs > 6 %}
            <div class="btn-myportfolio ">
                <a href="#" class="btn btn-warning show-btn">Show More</a>
            </div>
                
            {% endif %}
                
            
        </main>
    </div>    
    </section>