<section class="myportfolio" id="myportfolio">
    <div class=" myportfolio-container text-light">
        <main class="myportfolio-main">
            <header class="myportfolio-header">
                <p>Awesome Work and Enjoy</p>
                <h1 class="text-warning">My Portfolio</h1>
            </header>
            <nav class="nav-myportfolio cust-nav d-grid pt-3">
                    <h6><a href="#home">All</a></h6>
                    <h6><a href="#">Web Design</a></h6>
                    <h6><a href="#">Mobile Design</a></h6>
                    <h6><a href="#">Graphic</a></h6>
            </nav>
            <div class="myportfolio-list cust-list d-grid pt-5">
                <!-- awal item-list -->
                
                <div class="myportfolio-item card">
                    <img src="media/images/sevice-img.svg" class="card-img-top" alt="...">
                    <div class=" myportfolio-box d-grid">
                        <div class=" d-grid myportfolio-describ">
                            <img src="media/images/icon-kalender.svg" alt="">
                            <h5 class="card-text m-0">Web Developer</h5>
                            <img src="media/images/icon-kalender.svg" alt="">
                            <h5 class="card-text m-0">21 januari 2019</h5> 
                        </div>
                        <div class="myportfolio-text">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero eum laudantium nulla sit sequi.</p>
                            <a href="#" class="btn btn-primary">More Detail</a>
                        </div>
                    </div>
                </div>

                <!-- akhir item-list -->
            </div>
            <div class="btn-myportfolio mt-3">
                <a href="#" class="btn btn-warning show-btn">Show More</a>
            </div>
            
        </main>
    </div>    
    </section>