<section class="myservice" id="myservice">
    <div class=" myservice-container text-light">
        <main class="myservice-main">
            <header class="myservice-header">
                <p>Get Support for Services</p>
                <h1 class="text-warning">My Service</h1>
            </header>
            <div class="service-list cust-list d-grid">
                
                
                {% for service in services %}
                    {% if service.is_published %}
                        <div class="item-service item-list d-grid">
                            {% if service.icon.url is not None %}
                            <div class="service-image" style="background-image:url({{service.icon.url}})">
                                <h1 class="d-none">About Me</h1>
                                    
                            </div>
                            {% endif %}
                            <div class="service-describ">
                                <h3>{{service.judul}}</h3>
                                <p>{{service.deskripsi|truncatewords:"20"}}</p>
                            </div>
                        </div>
                        
                    {% endif %}
                        
                    
                {% endfor %}
                    
                
                
            </div>
        </main>
    </div>    
    </section>