{% extends 'base.html' %}
{% load static %}

{% include 'snippets/navside.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand f-family-roboto" href="{% url 'home' %}">Art<span
            class="f-family-saira font-weight-bold c-blue">SO</span> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto f-family-roboto">
                <a class="nav-item nav-link " href="{% url 'home' %}">Home</a>
                <a class="nav-item nav-link " href="{% url 'list:portfolio' %}?page=1">Portfolio</a>
                <a class="nav-item nav-link " href="{% url 'list:blog' %}?page=1">Blog</a>
                <a class="nav-item nav-link active disabled" href="{% url 'list:contact' %}">Contact</a>
                <div class="row justify-content-end">
                    <div class="col-4 col-sm-2">
                        <div class="row justify-content-around">
                            <a class="nav-item nav-link nav-img" href="https://www.facebook.com/aman.bay.79827" target="_blank" title="Follow my facebook"><img src="{% static 'vendor/css/media/images/facebook-3 1.svg' %}" alt="facebook" srcset=""></a>
                            <a class="nav-item nav-link nav-img" href="https://www.instagram.com/adityafreesetyo1/" target="_blank" title="Follow my instagram"><img src="{% static 'vendor/css/media/images/instagram.svg' %}" alt="instagram" srcset=""></a>
                            <a class="nav-item nav-link nav-img" href="https://www.linkedin.com/in/aditya-prasetyo-budiarso-6702481b5/" target="_blank" title="Follow my linkedin"><img src="{% static 'vendor/css/media/images/linkedin.svg' %}" alt="linkedin" srcset=""></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</nav>

<section class="mycontact mb-4" id="mycontact">
    <div class=" mycontact-container text-light">
        <main class="mycontact-main">
            <header class="mycontact-header">
                <p>Feel Free to Contact Me Anytime</p>
                <h1 class="text-warning">Get In Touch</h1>
            </header>
            {% if request.POST.pengirim %}
            <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                <strong>Hello {{pengirim}}!</strong> We receive your message and will respond shortly.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}            
                

            <div class=" form-box" id="form-box">
                <form class="form-mycontact-list d-grid" id="form-mycontact" method="POST">
                    {% csrf_token %}
                        <input type="text" class="form-control form-name" name="{{contact.pengirim.name}}" placeholder="Your first name" id="form-name" maxlength="{{contact.pengirim.max}}" required>
                        <input type="email" class="form-control form-email" name="{{contact.email.name}}" placeholder="Your email" required>
                        <input type="text" class="form-control form-subject" name="{{contact.subject.name}}" maxlength="{{contact.subject.max}}"placeholder="Your subject" required>
                        <textarea class="form-control form-message" placeholder="Your message" name="{{contact.deskripsi.name}}" required></textarea>
                        <div class="btn-contact">
                            <button type="submit" class="btn btn-primary">Send Message</button>
                        </div>
                        </div>
                </form>
            </div>
            
        </main>
    </div>    
    </section>
{% endblock content %}