{% extends 'base.html' %}
{% load static %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand f-family-roboto" href="#" ><div class="logo" style="background-image:url({% static 'vendor\css\media\images\artso-sktch1.svg' %})"><p class="d-none">so</p></div></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto f-family-roboto">
                <a class="nav-item nav-link " href="{% url 'home' %}">Home</a>
                <a class="nav-item nav-link active disabled" href="#">Portfolio</a>
                <a class="nav-item nav-link " href="{% url 'list:blog' %}?page=1">Blog</a>
                <a class="nav-item nav-link " href="{% url 'list:contact' %}">Contact</a>
                <div class="row justify-content-end">
                    <div class="col-4 col-sm-2">
                        <div class="row justify-content-around">
                            <a class="nav-item nav-link nav-img" href="https://www.facebook.com/aman.bay.79827" target="_blank" title="Follow my facebook"><img src="{% static 'vendor/css/media/images/facebook-3 1.svg' %}" alt="facebook" srcset=""></a>
                            <a class="nav-item nav-link nav-img" href="https://www.instagram.com/adityafreesetyo1/" target="_blank" title="Follow my instagram"><img src="{% static 'vendor/css/media/images/instagram.svg' %}" alt="instagram" srcset=""></a>
                            <a class="nav-item nav-link nav-img" href="https://www.linkedin.com/in/aditya-prasetyo-budiarso-6702481b5/" target="_blank" title="Follow my linkedin"><img src="{% static 'vendor/css/media/images/linkedin.svg' %}" alt="linkedin" srcset=""></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</nav>
    
<section class="myportfolio" id="myportfolio">
    <div class=" myportfolio-container text-light">
        <main class="myportfolio-main">
            <header class="myportfolio-header">
                <p>Awesome Work and Enjoy</p>
                <h1 class="text-warning">My Portfolio</h1>
                
                <div class="btn-group mt-2">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Skill Categories
                    </button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item " href="{% url 'list:portfolio' %}?page=1">All</a>
                    
                    {% for skill in skills %}
                        <a class="dropdown-item" href="{% url 'list:portfolio_filter' skill.slug %}?page=1">{{skill.judul}}</a>

                    {% endfor %}
                </div>
            </header>
            <div class="myportfolio-detail detail-item my-item card">
                    
                {% if detail_portfolio.gambar1.url is not none %}
            
                    <div class=" card-img-detail" style="background-image:url({{detail_portfolio.gambar1.url}})">
                        <h1 class="d-none">About Me</h1>
                    </div>
                {% endif %}
                    <div class=" myportfolio-box my-box d-grid">
                        <div class="judul-detail">
                            <h3>{{detail_portfolio.judul}}</h3>
                        </div>
                        <div class=" d-grid myportfolio-describ my-describ">
                            <h6 class="skill-detail card-text m-0">{{detail_portfolio.skill}}</h6>
                            <h6 class="published-detail card-text m-0">{{detail_portfolio.published|date}}</h6> 
                        </div>
                        <div class="myportfolio-text">
                            {{detail_portfolio.deskripsi1 }}
                        </div>
                        
                        
                    </div>
                    
                    {% if detail_portfolio.gambar2.url is not none %}
                    <div class="card-img-detail" style="background-image:url({{detail_portfolio.gambar2.url}})">
                        <h1 class="d-none">About Me</h1>
                    </div>
                    {% endif %}
                    
                    <div class=" myportfolio-box my-box d-grid">
                        {% if detail_portfolio.deskripsi2 is not none %}
                        <div class="myportfolio-text">
                            {{detail_portfolio.deskripsi2|safe}}
                        </div>
                    {% endif %}
                    </div>




            </div>
            <div class="myportfolio-list cust-list d-grid ">
                <!-- awal item-list -->
                {% for portfolio in oth_portfolios %}
                    {% if portfolio.is_published %}
                        <div class="myportfolio-item my-item card">
                        
                            {% if portfolio.gambar1.url is not none %}
                        
                                <div class="card-img-top" style="background-image:url({{portfolio.gambar1.url}})">
                                    <h1 class="d-none">About Me</h1>
                                </div>
                            {% endif %}
                            <div class=" myportfolio-box my-box d-grid">
                                <div class=" d-grid myportfolio-describ my-describ">
                                    <img src="{% static 'vendor\css\media\images\skill icon.svg' %}" alt="Icon">
                                    <h6 class="card-text m-0">{{portfolio.skill}}</h6>
                                    <img src="{% static 'vendor/css/media/images/icon-kalender.svg' %}" alt="">
                                    <h6 class="card-text m-0">{{portfolio.published|date}}</h6> 
                                </div>
                                <div class="myportfolio-text">
                                    <p>{{portfolio.deskripsi1|truncatewords:"18" }}</p>
                                        
                                </div>
                                <a href="{% url 'list:portfolio_detail' portfolio.id %}" class="btn btn-primary">More Detail</a>


                            </div>
                        </div>
                        
                        
                            
                    {% endif %}
                    
                {% endfor %}
                    
                <!-- akhir item-list -->
                
            </div>
<!-------------------- pagination ---------------------------->

            {% if jumlah > 12 %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if portfolios.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{portfolios.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                        {% endif %}
                        {% for range in paginator.page_range %}
                            {% if range != page_number %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{range}}">{{range}}</a>
                                </li>
                            {% else %}
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">
                                    {{range}}
                                    <span class="sr-only">(current)</span>
                                    </span>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if portfolios.has_next %}
                        
                            <li class="page-item">
                                <a class="page-link" href="?page={{portfolios.next_page_number}}" tabindex="-1" aria-disabled="true">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </main>
        
    </div>    
    </section>





{% endblock content %}
    